@use '@/styles/abstracts/variables' as v;

.descriptionCardContainer {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid v.$raw-slate-200;
  padding: 2rem;
  border-radius: 1rem;

  &:hover {
    box-shadow: 0 15px 25px -5px v.$glow-blue;
    border-color: v.$raw-blue-400;
    transition: all 0.3s ease-in-out;
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, v.$raw-blue-500, v.$raw-purple-600);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 15px 20px -2px v.$glow-cyan;
    width: fit-content;

    .icon {
      color: white;
      width: 24px;
      height: 24px;
    }
  }

  .titleContainer {
    display: flex;
    justify-content: start;

    h4 {
      font-weight: normal;
      padding: 20px 0;
      margin: 0;
    }
  }

  .descriptionContainer {
    flex-grow: 1;
    text-wrap: wrap;
    text-align: start;

    p {
      line-height: 1.5;
      color: v.$raw-slate-600;
      padding: 5px 0;
      margin: 0;
    }
  }
}