@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/mixins' as mixins;

.aboutSection{
  @include mixins.section-defaults;

  .contentContainer {
    width: 100%;
    max-width: 1400px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    align-items: center;

    margin:0 auto;
    gap: 1rem;


    .imageContainer {
      width:100%;
      display:flex;
      justify-content: center;
      filter:
              drop-shadow(-4px -4px 25px rgba(v.$raw-purple-600, 0.25))
              drop-shadow(4px 4px 25px rgba(v.$raw-blue-400, 0.25));

      .kittyImage {
        border-radius: 12px;
        width: 100%;
        height: auto;
        max-width: 600px;
        object-fit: cover;
      }
    }

    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: center;
      width:100%;
      max-width: 60ch;

      @media(min-width: 768px) {
        text-align: left;
        padding-inline: 1rem;
      }

      .sectionTitle {
        text-align: left;
        font-weight: normal;
        color: v.$raw-slate-800;
        font-size: 1rem;
      }
      .sectionDesc {
        text-align: left;
        color: v.$raw-slate-400;
        font-size: 1.10rem;
      }
    }
  }

  .allCardsContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    width: 100%;

    flex-wrap: wrap;

    .cardsContainer {
      display: flex;
      flex-direction: column;
      height: auto;
    }
  }
  .imageContainer {
    max-height: 400px;
    height: 100%;
    width: 100%;
    position: relative;

    @media (max-width: 768px) {
      height: 300px;
      width: 100%;
    }

  }
}