@use '@/styles/abstracts/mixins' as mixins;
@use '@/styles/abstracts/variables' as v;

.featuredProjectsContainer {
  @include mixins.section-defaults;
  position: relative;

  // Add space bottom
  padding-bottom: 6rem;

  .projectsCardsContainer {
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: stretch;
    gap: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
  }
}