@use '@/styles/abstracts/variables' as v;

.contactForm {

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: v.$glass-bg;
    border-radius: 24px;
    box-shadow: 0 4px 6px -1px v.$glow-blue;

    &:hover {
      box-shadow: 0 10px 20px v.$glow-blue;
      transition: all 0.1s ease-in-out;
    }
    .formGroup {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      text-align: left;

      label {
        margin-bottom: 10px;
        font-weight: normal;
        color: v.$raw-slate-800
      }

      input{
        margin-bottom: 15px;
        padding: 15px;
        border: none;
        border-radius: 12px;
        font-size: 16px;
      }

      textarea {
        margin-bottom: 15px;
        padding: 10px;
        border: none;
        border-radius: 12px;
        font-size: 16px;
        resize: vertical;

        &:active {
          border-color: v.$glass-border;
        }
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap:1rem;
      padding: 10px 15px;
      background-image: linear-gradient(to right, v.$raw-blue-500, v.$raw-purple-600);
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 5px 15px -5px v.$glow-blue;
        transition: all 0.06s ease-in-out;
        scale: 1.01;
      }
    }
  }
}
