@use '@/styles/abstracts/variables' as v;

.ProjectCardContainer {
  width: 100%;
  max-width: 450px;
  height: 100%;
  background-color: v.$bg-primary;
  box-shadow: 0 4px 6px -1px v.$glow-blue;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    .image {
      transform: scale(1.1);
    }
    box-shadow: 0 15px 25px -5px v.$glow-blue;
  }

  .imageContainer {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      overflow: hidden;
      backface-visibility: hidden;
      transition: transform 0.3s ease-out, box-shadow 0.3s ease;
    }
  }




  .content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .title {
      font-size: 1.1rem;
      font-weight: normal;
      margin-bottom: 0.5rem;

    }

    .description {
      font-size: 1rem;
      color: v.$raw-slate-400;
      margin-bottom: 1rem;
      line-height: 1.5;
    }

    .technologiesUsed {
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      align-items: center;

      .techItem {
        background-color: v.$bg-primary;
        color: v.$raw-blue-500;
        border:1px solid v.$glass-border;
        padding: 0.3rem 0.6rem;
        border-radius: 1rem;
        font-size: 0.9rem;

        &:hover {
          box-shadow: 0 10px 20px -10px v.$glow-cyan;
          border-color: v.$raw-blue-400;
          transition: all 0.3s ease-in-out;
          cursor: default;
        }
      }
    }
  }
}