@use '@/styles/abstracts/variables' as v;

.ProjectCardContainer {
  width: 100%;
  max-width: 450px;
  height: 100%;
  background-color: v.$bg-primary;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;


  &:hover {
    .image {
      transform: scale(1.1);
    }
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }

  .imageContainer {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      overflow: hidden;
      backface-visibility: hidden;
      transition: transform 0.3s ease-out, box-shadow 0.3s ease;
    }
  }




  .content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .title {
      font-size: 1.1rem;
      font-weight: normal;
      margin-bottom: 0.5rem;

    }

    .description {
      font-size: 1rem;
      color: v.$text-secondary;
      margin-bottom: 1rem;
    }

    .technologiesUsed {
      margin-top: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      .techItem {
        background-color: v.$bg-primary;
        color: v.$raw-blue-500;
        padding: 0.3rem 0.6rem;
        border-radius: 4px;
        font-size: 0.9rem;
      }
    }
  }
}