

.ProjectCardContainer {
  width: 400px;
  height: 100%;

  .image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
  }


  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
  }

  .technologiesUsed {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .techItem {
        background-color: #f0f0f0;
        padding: 0.3rem 0.6rem;
        border-radius: 4px;
        font-size: 0.9rem;
    }

  }
}