@use '@/styles/abstracts/variables' as v;
@use '@/styles/abstracts/mixins' as mixins;

.skillsSection {
  @include mixins.section-defaults;
  width: 100%;

  .skillCardsContainer {
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;
    padding: 0 2rem;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: stretch;
    gap: 1rem;

    @media(max-width: 1024px) {
      padding: 0 1rem;
    }
  }
}